append head
    link(rel='stylesheet' href='stylesheets/navbar.css')

.navbar
    .navbar_container
        .navbar_logo
            a(href='/')
                img(src='/images/FFGREENBIG.png')
        if locals.authenticated
            ul.navbar_list
                li: a.buttonMovies(href='/my-movies') My Movies
                li: form(action='/users/logout' method='post')
                       button.buttonLogout(type='submit') Logout
            .navbar_search
                input(type='search' placeholder='Search Movies')
            .navbar_user
                a(href='/'): img(src='/images/FFGREENLITTLE.png')
        else
            ul.navbar_list
                li: a.buttonMovies(href='/my-movies') My Movies
                li: a.buttonLogout(href='/users/login') Login
                li: a.buttonLogout(href='/users/register') Register
            .navbar_search
                input(type='search' placeholder='Search Movies')
            .navbar_user
                a(href='/')
                    img(src='/images/FFminiLogo.png')
