extends layout.pug

block content 
    .container
        .cell.cell-1 
        .cell.cell-2 My Movies
        .cell.cell-3 
        .cell.cell-4 
        .cell.cell-5 
        .cell.cell-13 
            table.GeneratedTable
                thead
                    tr
                    th Poster
                    th Title
                    th Average Rating
                    th Genre
                tbody
                    each movie in movies 
                        tr 
                            td= movie.title 
                            td= movie.title 
                            td= movie.totalRating
                            td= movie.genre
        .cell.cell-6




