doctype html
html
  head
      block head
        title= "Film Forest"
        link(rel='stylesheet' href='/stylesheets/primary.css')
  nav
        if locals.authenticated
          form(action='/users/logout' method='post')
            button(type='submit') Logout
        else
          h1 Welcome to Film Forest
            //- +validationErrorSummary(errors)
          form(method='post' action='/users/login')
            input(type='hidden' name='_csrf' value=csrfToken)
            label Email
            input(type='text' name='email')
            label Password
            input(type='password' name='password')
            button(type='submit') Login
  block content
