extends layout.pug

block content
    div(class='table-container')
        table(class='movie-table')
            thead
                tr
                    th(scope='Movie-Title') Movie Title
                    th(scope='Genre') Genre
                    th(scope='Rating') Rating
            tbody
                each movie in movies
                    tr
                        td= movie.title
                        td= movie.genre
                        td= movie.totalRating
