extends layout.pug

block content
    table(class='')
        thead(class='thead-dark')
            tr
                th(scope='col') Movie Title
                th(scope='col') Rating
        tbody
            each movie in movies
                tr
                    td= movie.title
                    td= movie.totalRating
