extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    form(method="POST" action="/users/register")
        input(type='hidden' name='_csrf' value=csrfToken)
        div 
            label First Name
            input(type='text' name='firstName')
        div 
            label Last Name
            input(type='text' name='lastName')
        div 
            label Date Of Birth
            input(type='date' name='dateOfBirth')
        div 
            label Email
            input(type='text' name='email')
        div 
            label Password
            input(type='password' name='password')
        div 
            button(type='submit') Submit
    div 
        p: a(href='/users/login') Already have an account?
