mixin validationErrorSummary(errors)
    if errors 
        div(class='alert-danger' role='alert')
            p The following errors(s) occurred: 
            ul.ulStyle 
                each error in errors 
                    div= error