.container {
    display: grid;
    grid-template-columns: 17% 1fr 1fr 1fr 17%;
    grid-template-rows: auto;
    grid-template-areas: "headerLeft header header header  headerRight" "space1 header1 space2 space2 space2 " "space3  data data data space5"
}

.navBarLeft {
    grid-area: headerLeft;
    background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG');
    background-size: cover;
}

.navBarBody {
    grid-area: header;
}

.navBarRight {
    grid-area: headerRight;
    background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG');
    background-size: cover;
}

.cell {
    /* color: white; */
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

.cell-1 {
    grid-area: space1;
}

.cell-2 {
    grid-area: header1;
}

.cell-3 {
    grid-area: space2;
}

.cell-4 {
    grid-area: space3;
}

.cell-5 {
    grid-area: space4;
}

.cell-13 {
    display: flex;
    justify-content: left;
    grid-area: data;
}

.cell-6 {
    grid-area: space5
}

table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #000000;
    border-style: hidden;
    padding: 3px;
}

table.GeneratedTable thead {
    background-color: #aae87e;
}