.movieTop{
    height: 10px;
    width: 100%;
    background: #184D47;
}

body {
    background: #e9f4e7
}
.container {
  height: 90vh;
  /* margin: 2rem; */
  display:flex;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; */
  grid-template-areas: 
  "space sideBar table table space2" 
}
.cell {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
}

.cell-2 {
    display: inline-block;
    width: 188px;
    text-align: left;
    background: #184d47;
    padding-left: 10px;
    margin-right: 6px;
    height: 15%;
    margin-top: 17px;
    border-radius: 4px;
}
.cell-3 {
    display: inline-block;
    width: 50%;
}

/* .cell-5 {
  background: blueviolet;
}
.cell-6 {
  background: limegreen;
}
.cell-7 {
  background: coral;
} */


table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #000000;
    border-style: hidden;
    padding: 3px;
}

table.GeneratedTable thead {
    background-color: #aae87e;
}


.myTable th {
  padding: 10px 0px !important;
}

.myTable thead {
    font-size: 20px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 18px;
}

.myTable th:nth-child(2), .myTable td:nth-child(2) {
    text-align: left;
    width: 25%;
}

.myTable td:nth-child(1) {
    width: 79px;
    padding-right: 5px;
}

.tbody {
    font-size: large;
}

.div1 {
    font-size: 20px;
    font-family: arial;
    font-weight: 500;
}