@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
.navbar {
    display: flex;
    justify-content: center;
    /* background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG'); */
    background-color: #e8f6e7;
    background-size: contain;
    height: 75px;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.navbar_logo img {
    width: 180px;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.form-inline {
    display: flex;
    align-items: center;
    margin-left: -18px;
}


/* Style the input fields */

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 35%;
}


/* Style the submit button */

.buttonDemo {
    margin-left: 8px;
    color: #ffffff;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    background-color: #0b3507;
    font-size: 18px;
    line-height: 22px;
    /* width: 15%; */
    cursor: pointer
}

.buttonLogin {
    margin-left: 8px;
    color: #ffffff;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    background-color: #0b3507;
    font-size: 18px;
    line-height: 22px;
    width: 16%;
    cursor: pointer
}

.form-inline button:hover {
    background-color: rgb(155, 172, 222);
}

.formClass {
    margin-left: 10px;
}

.button {
    color: #ffffff;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background-color: #0b3507;
    font-size: 18px;
    line-height: 22px;
    width: auto;
    cursor: pointer;
}

.registerText {
    font-family: arial;
    margin-left: 4px;
    margin-top: 9px;
    margin-bottom: -8px;
    font-weight: bold;
}

form button:hover {
    background-color: rgb(155, 172, 222);
}

.tableHead {
    background: #79b54f;
}

.tableBody {
    background: #E1E2E1
}

.button2 {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    padding: 7px 5px;
    font-size: 16px;
    margin-bottom: -8px;
    border: 1px solid #ddd
}

.container {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
    grid-template-rows: auto;
    grid-template-areas: "headerLeft header header header headerRight" "leftBanner mainBanner mainBanner registerForm rightBanner" "leftFirst main main main rightFirst" "leftSecond main2 main2 main2 rightSecond" "footer footer footer footer footer";
}

.navBarLeft {
    grid-area: headerLeft;
    /* background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG'); */
    background-color: #e8f6e7;
    background-size: cover;
}

.navBarBody {
    grid-area: header;
}

.navBarRight {
    grid-area: headerRight;
    /* background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG'); */
    background-color: #e8f6e7;
    background-size: cover;
}

.topBannerLeft {
    grid-area: leftBanner;
    background: #184D47;
}

.movie-night {
    color: #ffffff;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: mainBanner;
    background: #184D47;
    background-image: url('../images/movie_reel.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.register {
    grid-area: registerForm;
    color: black;
    background: #f4f1ea;
    display: flex;
    justify-content: center;
}

.topBannerRight {
    grid-area: rightBanner;
    background: #184D47;
}

.first-left-margin {
    grid-area: leftFirst;
    background: #e8f5e7;
}

.movie-info1 {
    justify-content: center;
    grid-area: main;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.first-right-margin {
    grid-area: rightFirst;
    background: #e8f5e7;
}

.second-left-margin {
    grid-area: leftSecond;
    background: #ffffff;
}

.movie-info2 {
    grid-area: main2;
    background: #f4f1ea;
}

.mainSidebar {
    grid-area: mainSidebar;
    /* background: green; */
}

table.GeneratedTable.sortable td:nth-child(3) {
    padding-right: 10px;
    text-align: right;
}

table.GeneratedTable.sortable td:nth-child(1) {
    padding-left: 10px;
}

.second-right-margin {
    grid-area: rightSecond;
    background: #ffffff;
}

.footer {
    /* background-color: purple; */
    height: 75px;
    grid-area: footer;
    image: url('../images/5341781-vector-old-celluloid-film-tape.PNG');
    justify-content: stretch;
}


/* .cell {
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem;
} */

form div {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.movie-table {
    text-align: left;
    padding: 15px;
    margin: 10px;
}

.alert-danger {
    color: red;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
}


/* .register__div--input {
    width: 200%;
    justify-content: flex-start;
} */


/* TABLES */


/* table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #000000;
    border-style: hidden;
    padding: 3px;
}

table.GeneratedTable thead {
    background-color: #aae87e;
} */


/* CAROUSAL */

.card-container {
    scroll-behavior: smooth;
    display: flex;
    background: #F5F5F6;
    padding: 10px;
    overflow: scroll;
}

.card {
    min-width: 150px;
    background: #E1E2E1;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 30px;
}

.text-container {
    padding: 10px;
}

.title {
    font-family: 'Noto Sans JP';
}

.score {
    font-family: 'Noto Sans JP';
}

button#carousel-right {
    float: right;
}