.navbar {
    display: flex;
    justify-content: center;
    background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG');
    background-size: contain;
    height: 75px;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.navbar_logo img {
    width: 140px;
    height: 65px;
    object-fit: cover;
    border-radius: 5px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


/* Add some margins for each label */


/*
.form-inline label {
    margin: 5px 10px 5px 0;
} */


/* Style the input fields */

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
}


/* Style the submit button */

.form-inline button {
    color: #ffffff;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    background-color: #382110;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    cursor: pointer
}

.form-inline button:hover {
    background-color: rgb(155, 172, 222);
}


/* THE GRID */

.button {
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background-color: grey;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
}

.container {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
    grid-template-rows: auto;
    grid-template-areas: "headerLeft header header header headerRight" "leftBanner mainBanner mainBanner registerForm bruceBanner" "left1 main main main rightEnd" "leftSecond mainSecond mainSecond2 rightSecond rightEndSecond" "footer footer footer footer footer";
}

.navBarLeft {
    grid-area: headerLeft;
    background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG');
    background-size: contain;
}

.navBarBody {
    grid-area: header;
}

.navBarRight {
    grid-area: headerRight;
    background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG');
    background-size: contain;
}

.cell-1 {
    grid-area: leftBanner;
    background: #32362D;
}

.movie-night {
    grid-area: mainBanner;
    background: #32362D;
    background-image: url('../images/movie_reel.png');
    background-size: contain
}


/* .cell-3 {
    background: #32362D;
    grid-area: mainBanner2;
} */

.cell-4 {
    grid-area: registerForm;
    color: black;
    background: #f4f1ea;
}

.cell-5 {
    grid-area: bruceBanner;
    background: #32362D;
}

.cell-6 {
    grid-area: left1;
    background: #ffffff;
}


/* .cell-7 {
    grid-area: main;
    background: #ffffff;
} */

.movie_info1 {
    display: flex;
    justify-content: center;
    grid-area: main;
    background: #ffffff;
}


/* .cell-9 {
    grid-area: main;
    background: #ffffff;
} */

.cell-10 {
    grid-area: rightEnd;
    background: #ffffff;
}

.cell-11 {
    grid-area: leftSecond;
    background: #ffffff;
}

.cell-12 {
    grid-area: mainSecond;
    background: #f4f1ea;
}

.cell-13 {
    grid-area: mainSecond2;
    background: #d4d2cc;
}

.cell-14 {
    grid-area: rightSecond;
    background: #d4d2cc;
}

.cell-15 {
    grid-area: rightEndSecond;
    background: #d4d2cc;
}

.footer {
    /* background-color: purple; */
    height: 75px;
    grid-area: footer;
    content: url('../images/5341781-vector-old-celluloid-film-tape.PNG');
    /* background-size: contain; */
}


/* .cell {
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem;
} */

form div {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.movie-table {
    text-align: left;
    padding: 15px;
    margin: 10px;
}


/* .register__div--input {
    width: 200%;
    justify-content: flex-start;
} */