.movie-div {
    height: 500px;
    padding: 50px;
    display: grid;
    grid-template-columns: 15% 1fr 3fr 15%;
    grid-template-rows: 30% 10% 10% 5% 5% 10% 10% 20%;
    grid-template-areas:
        "mleft image . mright "
        "mleft image title mright"
        "mleft image title mright"
        "mleft image genre mright"
        "mleft image release mright"
        "mleft image ratings mright"
        "mleft . description mright"
        "mleft addM description mright";

}
.top{
  grid-area: top;
  background: #32362D;
}
.addToList {
    grid-area: addM;
    padding-left: 20%;
    padding-right: 20%;
}
.mright {
    grid-area: mright;
    background: #32362D;
}
.mleft{
    grid-area: mleft;
    background: #32362D;
}
.title{
    grid-area: title;
}
.img{
    grid-area: image;
}
.genre{
    grid-area: genre;
}
.release{
    grid-area: release;
}
.ratings{
    grid-area: ratings;
}
.description{
    grid-area: description;
}
.movie-img {
    padding: 30px;
    width: 242px;
    height: 330px;
}
.movie-title {
    /* padding-top: 60px; */
    padding-bottom: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.movie-genre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.movie-release {
    /* padding-top: 0%;
    padding-bottom: 0%; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.movie-ratings {
    padding-top: 0%;
    padding-bottom: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.movie-description {
    padding-top: 0%;
    padding-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px ;
}
.review-div{
    /* background: #32362D; */
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    padding-top: 40px;
    border-top: rgb(175, 181, 187) solid thin;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.review-label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.upvotesDownvotes{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.review-button {
    background-color: rgb(223, 213, 213);
    margin-left: 30px;
    border-radius: 4px;
    background-color: #382110;
    color: #ffffff;
    height: 30px;
}
.single-review {
    background: #f0eeea;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column-reverse;
    grid-area: single;
}
.user{
    justify-self: left;
    font-size: 20px;

}
.movie-reviews {
    justify-self: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-left: 40px;
    margin-right: 10px;
    
}


.reviews-div {
    border-top: rgb(175, 181, 187) solid thin;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;    
}


.alert-danger {
    color:  red;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
}

.add-movie{
    width: 90px;
    margin-left: 20%;
}