.movieBody {
    background: #e8f6e7;
}

.movieTop {
    height: 10px;
    width: 100%;
    background: #184D47;
}

.movie-div {
    height: 500px;
    display: grid;
    grid-template-columns: 5%;
    grid-template-rows: 10% 15% 15% 5% 5% 5% 20% 25%;
    grid-template-areas:
        ". . . ."
        ". image title ."
        ". image title ."
        ". image genre ."
        ". . release ."
        ". . ratings ."
        ". addM description ."
        ". . . .";
    margin: 312px;
    margin-top: 3%;
    margin-bottom: 0%;
    background: ghostwhite;
    border: #aec8aa solid 1px;
    border-radius: 8px;
    padding-right: 40px;
}


.selectB{
    margin-left: 24px;
    margin-top: 100px;
}

.addToList {
    grid-area: addM;
    padding-left: 12%;
    padding-right: 20%;
    margin-top: -35px;
}

.title {
    grid-area: title;
    padding-left: 10px;
    padding-top: 50px;
}

.img {
    grid-area: image;
    padding-left: 10px;
}

.genre {
    grid-area: genre;
    padding-left: 10px;
}

.release {
    grid-area: release;
    margin-top: 10px;
    padding-left: 10px;
}

.ratings {
    grid-area: ratings;
    padding-left: 10px;
}

.description {
    grid-area: description;
    padding-left: 10px;
}

.movie-img {
    border-radius: 7px;
    border: black solid 1px;
}

.movie-title {
    padding-bottom: 0%;
    font-family: Arial;
    font-size: 50px;
    margin-top: 49px;
}

.movie-genre {
    font-family: Arial;
    font-size: 20px;
    margin-top: 10px;
}

.movie-release {
    font-family: Arial;
    font-size: 12px;
}

.movie-ratings {
    padding-top: 0%;
    padding-bottom: 0%;
    font-family: Arial;
    font-size: 13px;
}

.movie-description {
    padding-top: 0%;
    padding-bottom: 30px;
    font-family: Arial;
    font-size: 20px;
}

.review-div {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.review-label {
    font-family: Arial;
    font-size: 30px;
}

.review-button {
    background-color: rgb(223, 213, 213);
    margin-left: 30px;
    border-radius: 4px;
    background-color: #0b3507;
    color: #ffffff;
    height: 50px;
    width: 175px;
}

.single-review {
    border-bottom: #aec8aa solid 1px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 80px;
    display: flex;
    flex-direction: column-reverse;
}

.user {
    justify-self: left;
    font-size: 20px;
}

.movie-reviews {
    justify-self: right;
    font-family: Arial;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 10px;
}

.reviews-div {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 20% 10% 60% 10%;
    grid-template-areas:
        "userR userR"
        "Rtop Rtop"
        "Rleft singleR"
        "Rleft Rbottom";
    height: 300px;
    margin-left: 312px;
    margin-right: 312px;
    margin-bottom: 55px;
    border: solid #aec8aa 1px;
    border-radius: 7px;
}

.Rtop {
    background: #e8f6e7;
    grid-area: Rtop;
}

.userR {
    padding-left: 40%;
    padding-top: 15px;
    grid-area: userR;
    background: #aec8aa;
    border-bottom: solid #0b3507 1px;
}

.user-reviews {
    font-size: 30px;
    font-family: Arial;
}

.Rleft {
    grid-area: Rleft;
    background: #e8f6e7;
}

.singleR {
    overflow-y: scroll;
    grid-area: singleR;
    background: #e8f6e7;
}

.Rright {
    grid-area: Rright;
    background: #e8f6e7
}

.Rbottom {
    grid-area: Rbottom;
    background: #e8f6e7
}

.alert-danger {
    color: red;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
}

.add-movie {
    width: 90px;
    margin-left: 20%;
}

.pageBottom {
    height: 50px;
    width: 100%;
    background: #184D47;
}
