.navbar {
    /* background-image: url('../images/5341781-vector-old-celluloid-film-tape.PNG'); */
    background-color: #e8f6e7;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 75px;
    border-bottom: 1px solid #4b6a48;
    /* background-color: grey */
}

.navbar_container {
    display: flex;
    /* margin-left: 20rem; */
    justify-content: space-between;
    width: 63%;
    min-width: 720px;
    margin-right: 23px;
}

.navbar_logo img {
    width: 180px;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.navbar_user img {
    width: 30px;
    height: 30px;
    border-radius: 50%
}

.navbar_list {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: flex-start;
    margin-right: 350px;
}

.buttonMovies {
    text-align: center;
    /* margin-left: 8px; */
    color: #ffffff;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    background-color: #0b3507;
    font-size: 18px;
    line-height: 23px;
    /* width: 15%; */
    cursor: pointer;
}

.buttonMovies:hover,
.buttonLogout:hover {
    background-color: rgb(155, 172, 222);
}

.buttonLogout {
    text-align: center;
    margin-left: -5px;
    color: #ffffff;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    background-color: #0b3507;
    font-size: 18px;
    line-height: 23px;
    /* width: 15%; */
    cursor: pointer;
}

.navbar_list li {
    font-weight: 800;
    /* background-color: rgb(244, 241, 234, .4); */
    border-radius: 6px;
    display: flex;
    align-items: center;
    /* color: black; */
    width: 101px;
    justify-content: center;
    text-decoration: none;
    margin-left: 8px;
}

.navbar_list li:hover {
    /* background-color: #f4f1ea; */
    cursor: pointer;
}

.logout {
    border: none;
}

.navbar_search {
    display: flex;
    align-items: center;
}

.navbar_search input {
    height: 32px;
    width: 300px;
}

.navbar_user {
    display: flex;
    align-items: center;
}

.alert-danger {
    color: red;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
}