.form_container {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

form div {
    padding: 10px;
}

div input {
    display: flex;
    justify-content: right;
}

form {
    border: 2px solid black;
    border-radius: 6px;
}

.button {
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background-color: grey;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
}

.alert-danger {
    color:  red;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
}
