.movie-rev-div {
    padding: 50px;
    display: grid;
    grid-template-columns: 15% 1fr 3fr 15%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 20% 10% 10%;
    grid-template-areas:
        "left . . right "
        "left . . right "
        "left revImage . right"  
        "left revImage . right"  
        "left revImage revTitle right"  
        "left revImage revGenre right"  
        "left . revDescription right"
        "left . . right "
        "left . . right ";
}
.movieLeft{
    grid-area: left;
    background: #32362D;
}

.movieRight {
    grid-area: right;
    background: #32362D;
}
.movieImg{
    grid-area: revImage;
}
.movie-rev-img {
    padding: 30px;
    padding-top: 50px;
}
.movieTitle {
    grid-area: revTitle;
}

.movie-rev-title {
    padding-bottom: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.movieGenre {
    grid-area: revGenre;
}

.movie-rev-genre {
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.movieDes{
    grid-area: revDescription;
}

.movie-rev-description {
    padding-top: 30px;
    /* padding-bottom: 30px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.review-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    border: 0px;
    border-top: slategrey thin solid;
    border-radius: 0px;
    grid-area: reviewF;
}
.review{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
    "top top top"
    "leftS reviewF rightS";
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.left-space{
    grid-area: leftS;
    background: #d4d2cc;  
}

.top{
     grid-area: top;
     background: #d4d2cc;
}

.right-space {
    grid-area: rightS;
    background: #d4d2cc
}
.input-review {
    background: url('/images/forest_background.jpg')  ;
    opacity: .500;
    height: 300px;
    width: 90%;
    justify-self: center;
    align-self: center;
    border: 1px solid #888;
    background-color:rgb(244, 241, 234, .85);
    resize: none;

}

.submit-buddon {
    width: 20%;
    justify-content: center;
    align-self: center;
    margin: 20px;
}

.leave-review {
    align-self: center;
    font-size: 30px;
    padding-bottom: 20px;
}

textarea {
    background: url(images/benice.png) center center no-repeat;
    /* This ruins default border */
    border: 1px solid #888;
}